<h3>Add a new dose</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.submit %>
<% end %>

<%# <%= link_to "Retour à la Homepage", cocktail_path, class: "btn btn-primary btn-lg" %> 


<%= link_to 'Retour à la Homepage', root_path %>